.Home__info {
  display: flex;
}
.text__cover {
  width: 50%;
  display: flex;
  align-items: center;
}
.text__cover h1 {
  font-size: 7vw;
  margin-left: 15px;
  z-index: 5;
  width: max-content;
  /* color: rgb(21, 128, 228); */
  /* background: linear-gradient(180deg, rgb(3, 140, 231), rgb(16, 88, 136)); */
  background: linear-gradient(180deg, rgb(8, 133, 155), rgb(16, 88, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 2px rgb(106, 0, 177); */
}
.images__cover {
  width: 50%;
  text-align: center;
}

.image1 {
  z-index: 2;
  position: relative;
  width: 23vw;
  border-radius: 10px;

  /* transform: rotate(-10deg); */
  top: -2vh;
}
.image2 {
  z-index: 3;
  position: relative;
  width: 18vw;
  border-radius: 10px;
  /* transform: rotate(10deg); */
  left: -5vw;
  top: 3vh;
}
.image3 {
  z-index: 4;
  position: relative;
  width: 23vw;
  border-radius: 10px;
  /* transform: rotate(5deg); */
  top: -2vh;
  left: -10vw;
}
.title_home {
  margin: auto;
  padding: 5px 0;
  width: max-content;
  background: linear-gradient(180deg, rgb(8, 133, 155), rgb(16, 88, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2.5px solid #0c7293;
}

.content_cover {
  padding: 20px 0;
}
.about_us {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about_us div {
  padding: 5% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_us div p {
  font-size: 17px;
  font-weight: 600;
  color: rgb(7, 85, 99);

  text-shadow: 0 0 5px rgb(196, 196, 196);
}
.iconsHome {
  font-size: 40px;
  border: 2px solid;
  border-radius: 500px;
  padding: 5px;
  color: white;
  border: 0;
  background-image: linear-gradient(rgb(25, 108, 160), rgb(8, 38, 56));
  box-shadow: 0 0 5px rgb(124, 124, 124);
}

@media screen and (min-width: 1050px) {
  .about_us div p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 85, 99);
    text-shadow: 0 0 5px rgb(196, 196, 196);
  }
  .iconsHome {
    font-size: 60px;
    border: 2px solid;
    border-radius: 500px;
    padding: 5px;
    color: white;
    border: 0;
    background-color: rgb(15, 72, 105);
    box-shadow: 0 0 5px rgb(124, 124, 124);
  }
}

.title_contactUs {
  width: auto;
  text-align: center;
  margin: 5px auto;
  font-size: 23px;
  font-weight: 500;
  color: rgb(37, 117, 131);
  text-shadow: 0 0 3px rgb(133, 133, 133);
  /* background: linear-gradient(180deg, rgb(8 133 155), rgb(16 88 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  overflow-wrap: break-word;
}

.contactTable {
  margin: auto;
  margin-bottom: 10vh;
  /* width: 100%; */
}
.contactTable tr {
  height: 40px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}
.contactTable tr:hover {
  background-color: rgb(230, 230, 230);
  transition: 0.5s;
  /* font-size: 110%; */
}
.contactTable tr a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_icon {
  margin-right: 5px;
}
