.post_text {
  width: 98%;
  padding: 0;
  border-radius: 0;
  height: 20vh;
  margin: auto;
  font-size: 20px;
  padding: 1%;
  outline: none;
  border: 0;
  border-bottom: 1px solid lightgrey;
}
.post_text::placeholder {
  color: rgb(170, 169, 169);
}

.submit_post {
  border-radius: 500px;
  border: 0;
  background-color: #0c3e4c;
  color: white;
  /* padding: 1%; */
  width: 40%;
  /* margin: 0 5vw; */
  height: 100%;
  cursor: pointer;
}

.btn-file {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 10vw; */
  /* min-width: max-content; */
  width: 40% !important;
  height: 6vh;
  color: white;
  border-radius: 500px;
  background-color: rgb(160, 85, 0);
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.photo_icon {
  font-size: 25px;
}

.file_and_post {
  display: flex;
  position: absolute;
  bottom: 100px;
  width: 100%;
}
.file_and_post div {
  display: flex;
  justify-content: center;
  width: 50%;
}

.postPhoto {
  border-radius: 15px;
  max-width: 95%;
  margin: auto;
  display: block;
  height: 250px;
  object-fit: cover;
  border: 1px solid rgb(180, 180, 180);
}
.dropdown_search_cover {
  background-image: linear-gradient(#155e72, #0b3c4a);
  width: 100%;
  display: flex;
}
.search_cover {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_search_newPlace {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.search_new_place {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  background-image: linear-gradient(#155e72, #0b3c4a);
  left: 0;
}
.input_search_place {
  position: absolute;
  border: 0;
  border-radius: 50px;
  width: 80%;
  padding: 1%;
  outline: none;
  background-color: rgba(255, 255, 255, 0.397);
}
.input_search_place::placeholder {
  color: white;
  text-align: center;
}
.dropdown {
  /* position: relative; */
  /* display: inline-block; */
  width: 90%;
  cursor: pointer;
  /* padding: 1%; */
  border: 0;
  border-radius: 0px;
  height: 9vh;
  font-size: 100%;
  outline: none;
  color: white;
  /* background-color: gray; */
  /* background-color: #0b3c4a; */

  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"),
    linear-gradient(#155e72, #0b3c4a);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  color: black;
  padding: 0;
  z-index: 1;
  height: 70vh;
  overflow: auto;
}
.dropdown-content-for-search {
  display: none;
  position: absolute;
  top: 9vh;
  background-color: #f1f1f1;
  width: 100%;
  color: black;
  padding: 0;
  z-index: 1;
  height: 70vh;
  overflow: auto;
}
.dropdown-content p {
  display: flex;
  width: 100%;
  margin: 0;
  min-height: 8vh;
  border-bottom: 1px solid gray;

  justify-content: space-evenly;
}
.dropdown-content-for-search p {
  display: flex;
  width: 100%;
  margin: 0;
  min-height: 8vh;
  border-bottom: 1px solid gray;
  cursor: pointer;
  justify-content: space-evenly;
}
.place_icon {
  width: 10vw;
  display: flex;
  align-items: center;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}
.place_name_distance {
  display: flex;
  width: 90vw;
  padding: 0 0 0 1%;
  margin: 0;
  min-height: 8vh;

  flex-direction: column;
  justify-content: space-evenly;
}
.dropdown-content p:hover {
  background-color: #d6d6d6;
}
.dropdown:hover .dropdown-content {
  /* display: block; */
}
.dropdown-header {
  height: 9vh;
  display: flex;
  align-items: center;
  padding: 0 0 0 1%;
}

@media screen and (min-width: 1050px) {
  .place_icon {
    width: 5vw;
  }
  .place_name_distance {
    width: 95vw;
  }
  .file_and_post {
    display: flex;
    position: absolute;
    bottom: 50px;
    width: 90%;
  }
}
