.comments_cover {
  width: 85%;
  margin: 0;
  margin-left: 15%;
}
.form_add_comment {
  margin: 0;
  margin-top: 2%;
  width: 100%;
}
.insert_comment_input {
  width: 78%;
  outline: none;
  border: 0;
  border-bottom: 1px gray solid;
  border-radius: 0;
  padding: 1%;
}
.insert_comment_input:focus {
  border-bottom: 2px gray solid;
}
.send_comment_button {
  width: 16%;
  margin: 0 2%;
  border: 0;
  border-radius: 50px;
  background-color: #155e72;
  height: 100%;
  padding: 1%;
  color: white;
}
.comment_cover {
  display: flex;
  padding: 1%;
  min-height: 20px;
}

.comment_cover span {
  /* display: flex;
  flex-wrap: wrap; */
  display: block;
  word-wrap: break-word;
  width: 65%;
  height: max-content;
  margin: 0;
  padding-left: 2%;
}
.delete_comment {
  position: absolute;
  right: 1%;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.comment_time {
  color: gray;
  font-size: 13px;
  margin: 0.2em 0;
  padding: 0 1%;
}
