.first {
  display: flex;
  flex-direction: column;
}
.text_center {
  text-align: center;
}
.first hr {
  border: 0;
  background-color: gray;
  height: 1px;
  width: 90%;
  margin-bottom: 0;
}
.img__header {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-bottom: 2px rgb(189, 189, 189) solid;
}

.img__avatar {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: relative;
  top: -7.5vw;
  margin: 0 auto;
  object-fit: cover;
  border: 2px rgb(189, 189, 189) solid;
}

.for__top {
  position: relative;
  top: -4vw;
}
.profile__location {
  color: grey;
  margin: 0.5em 0 0 0;
}
.userName {
  color: grey;
  margin: 0.5em 0;
}

.two_btns_cover {
  display: flex;
}
.two_btns_cover a {
  width: 50%;
}
.friends__Card {
  text-decoration: none;
  color: rgb(0, 60, 255);
  font-weight: 500;
}

.post_Card {
  display: flex;
}

.post_Card_avatar {
  width: 15vw;
  text-align: center;
  cursor: pointer;
}

.post_Card_avatar img {
  width: 130px;
  height: 130px;
  max-width: 10vw;
  max-height: 10vw;
  border-radius: 50%;
  object-fit: cover;
  border: 2px rgb(189, 189, 189) solid;
}

.post_Card_info {
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.post_Card_info hr {
  width: 100%;
  height: 1px;
  border: 0px;
  background-color: gray;
}

.post__time {
  margin: 0.25em 0;
  color: gray;
  font-size: 13px;
}
.post_view_comments {
  font-weight: 500;
  margin: 0.25em 0;
  font-size: 14px;
  cursor: pointer;
}

.post__Image {
  border-radius: 15px;
  max-width: 95%;
  display: block;
  /* margin-right: auto; */
  height: 250px;
  object-fit: cover;
  border: 1px solid rgb(180, 180, 180);
  /* box-shadow: 0 0 2px rgb(97, 97, 97); */
}

.post__userName {
  cursor: pointer;
  margin: 0.5em 0;
  color: rgb(70, 70, 70);
}

.profile__bio {
  margin: 0.5em 0;
}
.notification__icon {
  font-size: 20px;
  fill: rgb(235, 113, 0);
}
.requests {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 30vh;
  width: max-content;
  left: 70vw;
  padding: 5px;
  border: 2px solid rgb(235, 113, 0);
  background-color: rgba(235, 114, 0, 0.137);
  font-weight: bold;
  color: rgb(235, 113, 0);
  border-radius: 500px;
  width: 15vw;
}
.requests:hover {
  cursor: pointer;
}
@media screen and (min-width: 1050px) {
  .img__header {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }
  .first b {
    font-size: larger;
  }
  .requests {
    top: 40vh;
  }
}
.delete_acc {
  min-width: max-content;
  width: 110px;
  margin-left: auto;
  background-color: red;
  padding: 2%;
  background-image: linear-gradient(45deg, red, rgb(94, 0, 0));
  color: white;
  border: 0;
  border-radius: 500px;
}
.warning {
  color: rgb(128, 128, 128);
  font-weight: bold;
}
