.timeLine__header {
  height: 50px;
  background-image: linear-gradient(#155e72, #0b3c4a);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageOpen {
  /* transition: 2s; */
  animation: zoomIn 0.3s linear;
  position: fixed;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: calc(100vh - 70px);
  background-color: black;
  z-index: 9;
}
.imageOpen img {
  object-fit: contain;
  height: calc(100vh - 70px);
  width: 100%;
  z-index: 9;
}
@media screen and (min-width: 1050px) {
  .imageOpen img {
    object-fit: contain;
    height: 100vh;
    width: 100%;
    /* z-index: 15; */
  }

  .imageOpen {
    /* z-index: 15; */

    /* transition: 2s; */
    animation: zoomIn 0.3s linear;
    position: fixed;
    width: 93%;
    text-align: center;
    top: 0;
    left: 7%;
    height: 100vh;
    background-color: black;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
